<div class="about-main">
  <div class="content container">
    <h1>World New Adventures</h1>
  </div>
</div>
<div class="about-supporting">
  <div class="container">
    <h2>Get into my Stories</h2>
    <p>Relive. Smooth. Wild. Peaceful.</p>
    <p><%= link_to "sign up", new_signup_path, class: "btn btn-primary" %></p>
  </div>
</div>