<div class="home-main">
  <div class="container">
		<div class="row">
      <div class="content cold-md-6 col-md-offset-6">
        <h1>World New Adventures</h1>
        <p><%= link_to "Learn more", about_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<div class="home-supporting">
  <div class="container">
    <h2>Get into my Stories</h2>
    <p>Relive. Smooth. Wild. Peaceful.</p>
  </div>
</div>
<div class="home-secondary">
  <div class="container">
  </div>
</div>
<div class="home-about">
  <div class="container">
    <h2>World is not enough. We need Universe.</h2>
    <p><%= link_to "Learn more", about_path, class: "btn btn-primary" %></p>
  </div>
</div>