<div class="main home">
  <div class="wallpaper">
    <div class="content col-md-1 col-md-offset-1"> 
      <h1>World New Adventures</h1>
      <p><%= link_to 'Learn more', '/portfolio/', class: "btn right" %></p> 
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">@ 2021 A NABS Project</div>
</div>